body {
background-color: #cfff98;
}

div#wrapper {
  margin: auto;
  text-align: center;
  color: #3E4C2D;
  font-size: 20px;
}

h1 {
  font-family: Arial;
  color: #3E4C2D;
}

div#container {
  margin: 30px auto;
  text-align: center;
  width: 500px;
  height: 500px;
  border: 2px solid #1affb2;
  background-color: #F0FFE0;
}

div#outContainer {
  margin: 30px auto;
  text-align: center;
  width: 600px;
  height: 600px;
  background-color: #66ffcc;
  border: 1px solid #1affb2;
  border-radius: 20px;
}

#pixel {
  float: left;
}
